Abrar Nomani
STAT 672
Assignment M8

Question #1

Create a Pandas DataFrame from the following dictionary data and the index labels

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] ,

then do the following: 

•	  Print the first 3 rows of the dataFrame

•	  Print the 'name', 'score' columns

•	  Fill the missing score with number 0.0

In [17]:
# Question #1
import pandas as pd
import numpy as np

# Dictionary Setup
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

# Index 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# DataFrame
question_1_df = pd.DataFrame(exam_data, index=labels)

print("DataFrame:")
print(question_1_df)
print("\n" + "#"*60 + "\n") # Added seperator for clarity

# Print the first 3 rows
print("First Three Rows:")
print(question_1_df.head(3))
print("\n" + "#"*60 + "\n")

# Print 'name' and 'score' columns
print("Name and Score Cols:")
print(question_1_df[['name', 'score']])
print("\n" + "#"*60 + "\n")

# Fill missing scores with 0.0
question_1_df['score'].fillna(0.0, inplace=True)

# Print the updated DataFrame
print(question_1_df)

DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

############################################################

First Three Rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

############################################################

Name and Score Cols:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

############################################################

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    0.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    0.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

C:\Users\Abrar\AppData\Local\Temp\ipykernel_5612\468902594.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  question_1_df['score'].fillna(0.0, inplace=True)

Question #2

For the dataframe you created in Q1, we want to add the timestamps of when the students took the exam.  Assume the first student started at 8am, on Oct 23, 2023, and each successive student took it exactly one hour after the other. 

•	Create the appropriate DatetimeIndex series, then apply it as index to the dataframe.

•	Next, add a column called “ExamTime” which will have the timestamp values as you just created.

•	Suppose scores will be published 7 days after the exam date.  Add a column “ScoreDate” which will have the date of the score published. Hint: use the Timedelta() function.

•	If your score_date thus created has the h:m:s info in it, format it to show just the date. Hint: use .dt.date for this part.

In [18]:
# Question 2

# Create DatetimeIndex 
start_time = pd.Timestamp('2023-10-23 08:00:00')
datetime_index = pd.date_range(start=start_time, periods=len(question_1_df), freq='h')

# Putting DatetimeIndex to the dataframe
question_1_df.index = datetime_index
print(question_1_df)
print("\n" + "#"*60 + "\n")

# Add ExamTime column with timestamp values
question_1_df['ExamTime'] = question_1_df.index
print(question_1_df)
print("\n" + "#"*60 + "\n")

# Add 'ScoreDate' column
question_1_df['ScoreDate'] = question_1_df['ExamTime'] + pd.Timedelta(days=7)
print(question_1_df)
print("\n" + "#"*60 + "\n")

# Format ScoreDate
question_1_df['ScoreDate'] = question_1_df['ScoreDate'].dt.date

print("Final DataFrame with 'ScoreDate' formatted as date only:")
print(question_1_df)

                          name  score  attempts qualify
2023-10-23 08:00:00  Anastasia   12.5         1     yes
2023-10-23 09:00:00       Dima    9.0         3      no
2023-10-23 10:00:00  Katherine   16.5         2     yes
2023-10-23 11:00:00      James    0.0         3      no
2023-10-23 12:00:00      Emily    9.0         2      no
2023-10-23 13:00:00    Michael   20.0         3     yes
2023-10-23 14:00:00    Matthew   14.5         1     yes
2023-10-23 15:00:00      Laura    0.0         1      no
2023-10-23 16:00:00      Kevin    8.0         2      no
2023-10-23 17:00:00      Jonas   19.0         1     yes

############################################################

                          name  score  attempts qualify            ExamTime
2023-10-23 08:00:00  Anastasia   12.5         1     yes 2023-10-23 08:00:00
2023-10-23 09:00:00       Dima    9.0         3      no 2023-10-23 09:00:00
2023-10-23 10:00:00  Katherine   16.5         2     yes 2023-10-23 10:00:00
2023-10-23 11:00:00      James    0.0         3      no 2023-10-23 11:00:00
2023-10-23 12:00:00      Emily    9.0         2      no 2023-10-23 12:00:00
2023-10-23 13:00:00    Michael   20.0         3     yes 2023-10-23 13:00:00
2023-10-23 14:00:00    Matthew   14.5         1     yes 2023-10-23 14:00:00
2023-10-23 15:00:00      Laura    0.0         1      no 2023-10-23 15:00:00
2023-10-23 16:00:00      Kevin    8.0         2      no 2023-10-23 16:00:00
2023-10-23 17:00:00      Jonas   19.0         1     yes 2023-10-23 17:00:00

############################################################

                          name  score  attempts qualify            ExamTime  \
2023-10-23 08:00:00  Anastasia   12.5         1     yes 2023-10-23 08:00:00
2023-10-23 09:00:00       Dima    9.0         3      no 2023-10-23 09:00:00
2023-10-23 10:00:00  Katherine   16.5         2     yes 2023-10-23 10:00:00
2023-10-23 11:00:00      James    0.0         3      no 2023-10-23 11:00:00
2023-10-23 12:00:00      Emily    9.0         2      no 2023-10-23 12:00:00
2023-10-23 13:00:00    Michael   20.0         3     yes 2023-10-23 13:00:00
2023-10-23 14:00:00    Matthew   14.5         1     yes 2023-10-23 14:00:00
2023-10-23 15:00:00      Laura    0.0         1      no 2023-10-23 15:00:00
2023-10-23 16:00:00      Kevin    8.0         2      no 2023-10-23 16:00:00
2023-10-23 17:00:00      Jonas   19.0         1     yes 2023-10-23 17:00:00

                              ScoreDate
2023-10-23 08:00:00 2023-10-30 08:00:00
2023-10-23 09:00:00 2023-10-30 09:00:00
2023-10-23 10:00:00 2023-10-30 10:00:00
2023-10-23 11:00:00 2023-10-30 11:00:00
2023-10-23 12:00:00 2023-10-30 12:00:00
2023-10-23 13:00:00 2023-10-30 13:00:00
2023-10-23 14:00:00 2023-10-30 14:00:00
2023-10-23 15:00:00 2023-10-30 15:00:00
2023-10-23 16:00:00 2023-10-30 16:00:00
2023-10-23 17:00:00 2023-10-30 17:00:00

############################################################

Final DataFrame with 'ScoreDate' formatted as date only:
                          name  score  attempts qualify            ExamTime  \
2023-10-23 08:00:00  Anastasia   12.5         1     yes 2023-10-23 08:00:00
2023-10-23 09:00:00       Dima    9.0         3      no 2023-10-23 09:00:00
2023-10-23 10:00:00  Katherine   16.5         2     yes 2023-10-23 10:00:00
2023-10-23 11:00:00      James    0.0         3      no 2023-10-23 11:00:00
2023-10-23 12:00:00      Emily    9.0         2      no 2023-10-23 12:00:00
2023-10-23 13:00:00    Michael   20.0         3     yes 2023-10-23 13:00:00
2023-10-23 14:00:00    Matthew   14.5         1     yes 2023-10-23 14:00:00
2023-10-23 15:00:00      Laura    0.0         1      no 2023-10-23 15:00:00
2023-10-23 16:00:00      Kevin    8.0         2      no 2023-10-23 16:00:00
2023-10-23 17:00:00      Jonas   19.0         1     yes 2023-10-23 17:00:00

                      ScoreDate
2023-10-23 08:00:00  2023-10-30
2023-10-23 09:00:00  2023-10-30
2023-10-23 10:00:00  2023-10-30
2023-10-23 11:00:00  2023-10-30
2023-10-23 12:00:00  2023-10-30
2023-10-23 13:00:00  2023-10-30
2023-10-23 14:00:00  2023-10-30
2023-10-23 15:00:00  2023-10-30
2023-10-23 16:00:00  2023-10-30
2023-10-23 17:00:00  2023-10-30

Question #3

For this particular exam that the students are taking, if it’s the first attempt, a student can get 30 minutes extra for the exam time.   Use the following statement to create a dataframe ‘df2’ to contain the extra time:

df2 = pd.DataFrame({'extra': [30, None, None, None, None, None, 30, 30, None, 30]})

•Use concat() add this info to the dataframe in Q2. In order to concat properly, you may need to add index labels to df2 to be consistent of your Q2 dataframe.

•Use merge() to add this info to the dataframe in the previous step.  Make sure to use a new name, say extra2. You may want to insert a column to df2 to have the merge key, for example, insert the ‘name’ column to df2.

In [ ]:
# Question #3
# Create df2 with extra time information
df2 = pd.DataFrame({'extra': [30, None, None, None, None, None, 30, 30, None, 30]})
print("Original df2")
print(df2)
print("\n" + "#"*60 + "\n")

# Add index labels to df2
df2.index = datetime_index
print("df2 with DatetimeIndex:")
print(df2)
print("\n" + "#"*60 + "\n")

# Use concat()
question_1_df = pd.concat([question_1_df, df2], axis=1)
print("DataFrame after concat():")
print(question_1_df)
print("\n" + "#"*60 + "\n")

# Use merge  
df2 = pd.DataFrame({
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'extra2': [30, None, None, None, None, None, 30, 30, None, 30]
})
print(df2)
print("\n" + "#"*60 + "\n")

# Use merge() to add extra2 column
question_1_df = pd.merge(question_1_df, df2, on='name', how='left')

print("Final DataFrame")
print(question_1_df)

Original df2
   extra
0   30.0
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6   30.0
7   30.0
8    NaN
9   30.0

############################################################

df2 with DatetimeIndex:
                     extra
2023-10-23 08:00:00   30.0
2023-10-23 09:00:00    NaN
2023-10-23 10:00:00    NaN
2023-10-23 11:00:00    NaN
2023-10-23 12:00:00    NaN
2023-10-23 13:00:00    NaN
2023-10-23 14:00:00   30.0
2023-10-23 15:00:00   30.0
2023-10-23 16:00:00    NaN
2023-10-23 17:00:00   30.0

############################################################

DataFrame after concat():
                          name  score  attempts qualify            ExamTime  \
0                    Anastasia   12.5       1.0     yes 2023-10-23 08:00:00
1                         Dima    9.0       3.0      no 2023-10-23 09:00:00
2                    Katherine   16.5       2.0     yes 2023-10-23 10:00:00
3                        James    0.0       3.0      no 2023-10-23 11:00:00
4                        Emily    9.0       2.0      no 2023-10-23 12:00:00
5                      Michael   20.0       3.0     yes 2023-10-23 13:00:00
6                      Matthew   14.5       1.0     yes 2023-10-23 14:00:00
7                        Laura    0.0       1.0      no 2023-10-23 15:00:00
8                        Kevin    8.0       2.0      no 2023-10-23 16:00:00
9                        Jonas   19.0       1.0     yes 2023-10-23 17:00:00
2023-10-23 08:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 09:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 10:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 11:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 12:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 13:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 14:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 15:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 16:00:00        NaN    NaN       NaN     NaN                 NaT
2023-10-23 17:00:00        NaN    NaN       NaN     NaN                 NaT

                      ScoreDate  extra  extra2  extra
0                    2023-10-30   30.0    30.0    NaN
1                    2023-10-30    NaN     NaN    NaN
2                    2023-10-30    NaN     NaN    NaN
3                    2023-10-30    NaN     NaN    NaN
4                    2023-10-30    NaN     NaN    NaN
5                    2023-10-30    NaN     NaN    NaN
6                    2023-10-30   30.0    30.0    NaN
7                    2023-10-30   30.0    30.0    NaN
8                    2023-10-30    NaN     NaN    NaN
9                    2023-10-30   30.0    30.0    NaN
2023-10-23 08:00:00         NaN    NaN     NaN   30.0
2023-10-23 09:00:00         NaN    NaN     NaN    NaN
2023-10-23 10:00:00         NaN    NaN     NaN    NaN
2023-10-23 11:00:00         NaN    NaN     NaN    NaN
2023-10-23 12:00:00         NaN    NaN     NaN    NaN
2023-10-23 13:00:00         NaN    NaN     NaN    NaN
2023-10-23 14:00:00         NaN    NaN     NaN   30.0
2023-10-23 15:00:00         NaN    NaN     NaN   30.0
2023-10-23 16:00:00         NaN    NaN     NaN    NaN
2023-10-23 17:00:00         NaN    NaN     NaN   30.0

############################################################

        name  extra2
0  Anastasia    30.0
1       Dima     NaN
2  Katherine     NaN
3      James     NaN
4      Emily     NaN
5    Michael     NaN
6    Matthew    30.0
7      Laura    30.0
8      Kevin     NaN
9      Jonas    30.0

############################################################

Final DataFrame after merge():
         name  score  attempts qualify            ExamTime   ScoreDate  extra  \
0   Anastasia   12.5       1.0     yes 2023-10-23 08:00:00  2023-10-30   30.0
1        Dima    9.0       3.0      no 2023-10-23 09:00:00  2023-10-30    NaN
2   Katherine   16.5       2.0     yes 2023-10-23 10:00:00  2023-10-30    NaN
3       James    0.0       3.0      no 2023-10-23 11:00:00  2023-10-30    NaN
4       Emily    9.0       2.0      no 2023-10-23 12:00:00  2023-10-30    NaN
5     Michael   20.0       3.0     yes 2023-10-23 13:00:00  2023-10-30    NaN
6     Matthew   14.5       1.0     yes 2023-10-23 14:00:00  2023-10-30   30.0
7       Laura    0.0       1.0      no 2023-10-23 15:00:00  2023-10-30   30.0
8       Kevin    8.0       2.0      no 2023-10-23 16:00:00  2023-10-30    NaN
9       Jonas   19.0       1.0     yes 2023-10-23 17:00:00  2023-10-30   30.0
10        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
11        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
12        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
13        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
14        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
15        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
16        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
17        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
18        NaN    NaN       NaN     NaN                 NaT         NaN    NaN
19        NaN    NaN       NaN     NaN                 NaT         NaN    NaN

    extra2_x  extra  extra2_y
0       30.0    NaN      30.0
1        NaN    NaN       NaN
2        NaN    NaN       NaN
3        NaN    NaN       NaN
4        NaN    NaN       NaN
5        NaN    NaN       NaN
6       30.0    NaN      30.0
7       30.0    NaN      30.0
8        NaN    NaN       NaN
9       30.0    NaN      30.0
10       NaN   30.0       NaN
11       NaN    NaN       NaN
12       NaN    NaN       NaN
13       NaN    NaN       NaN
14       NaN    NaN       NaN
15       NaN    NaN       NaN
16       NaN   30.0       NaN
17       NaN   30.0       NaN
18       NaN    NaN       NaN
19       NaN   30.0       NaN